.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
}
.progress-bar > .bar {
    -fx-background-color: #fafafa;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-padding: 0.4em;
}